.container {
  background-color: hsla(0, 0%, 100%, 0.95);
  flex-basis: 700px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 15px 10px rgb(228, 188, 127);
  border-radius: 10px;
  text-align: center;
}