.form__labelText{
  width: 100px;
  display: inline-block;
  text-align: left;
  margin: 10px;
}

.form__field {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border: 2px solid rgb(228, 188, 127);
  border-radius: 10px;
  outline: none;
}